doctype html
html(lang="en")
    head
        title= "微行者联盟"
        meta(name="viewport",content="width=device-width,user-scalable=no")
        meta(http-equiv="Content-Type",content="text/html",charset="utf-8")
